.grid
  position relative
  width 100%
  height auto
  margin 0 auto
  overflow hidden
  transition .666s height ease-in-out

  .grid-wrapper
    position relative
    height inherit
    width 100%
    height 100%
    font-size 100vw
    clearfix()

.grid-frame
  position relative
  display block
  float left
  width 1em
  height 1em
  overflow hidden

  .grid-frame-wrapper
    font-size 14px
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    overflow hidden