<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine on

	RewriteBase /
	
	RewriteCond %{REQUEST_FILENAME}  !-f
	RewriteCond %{REQUEST_FILENAME}  !-d
	RewriteCond $0#%{REQUEST_URI} ([^#]*)#(.*)\1$
	RewriteCond %{REQUEST_FILENAME} !\.(gif|jpe?g|png)$ [NC]
	RewriteCond %{REQUEST_URI} !/(css|data|fonts|js|media)/ [NC]
	RewriteRule (.*) %2index.php [QSA,L]
</IfModule>

<IfModule mod_headers.c>
	<FilesMatch "\.(cur|gif|ico|jpe?g|png|svgz?|webp)$">
		SetEnvIf Origin ":" IS_CORS
		Header set Access-Control-Allow-Origin "*" env=IS_CORS
	</FilesMatch>
</IfModule>

<ifModule mod_mime.c>
	AddType font/ttf .ttf
	AddType font/otf .otf
	AddType font/opentype .otf
	AddType font/x-opentype .otf
	AddType font/x-woff .woff
	AddType application/vnd.ms-fontobject .eot
	AddType application/x-font-woff .woff
	AddType application/json .json
	AddType 'application/json; charset=UTF-8' .json
	AddType image/svg+xml .svg

	AddType video/ogg .ogv
	AddType video/ogg .ogg
	AddType video/mp4 .mp4 .m4v
	AddType video/webm .webm
	AddType video/x-flv .flv

	AddType audio/mpeg .mp3
</IfModule>
